
/* HEADER
................................................................ */
#header {
	canvas {
		display: block;
	}
}

.header__bg {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../_img/bg.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}

.header__ctn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	// max-width: 800px;


	transform: translate(-50%, -50%);
}

.header__title {
	&--main {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		@include font($roboto, 800, 4vw);
		color: $title-color;
	}

	&--secondary {
		margin: 0 auto;
		display: block;
		text-align: center;
		@include font($roboto, 400, 2vw);
		color: $title-color;
	}
}

.project__list {
	position: absolute;
	top: 0;
	left: 0;
}

.project__title {
	color: white;
	text-indent: -9999px;
}
